/config.json
/.curseclient
/.minecraftinstance.json
/logs/
/saves/
/schematics/
/shaderpacks/
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/crash-reports/
/downloads/
